@font-face {
  font-family: "SFArabic-Regular";
  src: url("./assets/fonts/SFArabic-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -30px) scale(1.05);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.95);
  }
}
